[Unit]
Description=Crowdsound Playsource Service
Requires=mopidy.service
After=mopidy.service

[Service]
ExecStart=/opt/crowdsound/playsource -serviceMode -config /etc/crowdsound/playsource_config.json
TimeoutStartSec=infinity
Type=notify

[Install]
WantedBy=multi-user.target

